<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category Name</th>
            <th>Stock</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products">
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.categoryName }}</td>
            <td>{{ p.stock}}</td>
            <td>
              <button class="btn btn-success" (click)="onSelectProduct(p)">Edit</button>
              <button class="btn btn-danger" (click)="deleteProduct(p)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <app-product-details *ngIf="selectedProduct" [selectedProduct]="selectedProduct"></app-product-details>
      <hr class="my-3">
      <app-product-form [products]="products"></app-product-form>
    </div>
  </div>
</div>
