<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg my-10">
    <div class="text-center mb-6 flex items-center justify-center">
      <i class="bi bi-shop text-4xl text-info px-4"></i>
      <h2 class="text-2xl font-semibold text-gray-400 mt-2">Satıcı Ol</h2>
    </div>

    <form class="space-y-4" (ngSubmit)="addSeller(username.value, email.value, password.value)">
      <div class="relative">
        <label for="fullName" class="block text-gray-700">
          <i class="bi bi-person"></i> Kullanıcı Adı
        </label>
        <input type="text" #username id="username" name="username" required
          class="w-full p-3 pl-10 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
      </div>

      <div class="relative">
        <label for="email" class="block text-gray-700">
          <i class="bi bi-envelope"></i> E-posta
        </label>
        <input type="email" #email id="email" name="email" required
          class="w-full p-3 pl-10 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
      </div>

      <div class="relative">
        <label for="password" class="block text-gray-700">
          <i class="bi bi-lock"></i> Şifre
        </label>
        <input type="password" id="password" #password name="password" required
          class="w-full p-3 pl-10 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
      </div>


      <div>
        <button type="submit"
          class="w-full py-3 btn btn-info text-white font-semibold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
          <i class="bi bi-person-plus-fill mr-2"></i> Satıcı Ol
        </button>
      </div>
    </form>

    <div class="mt-4 text-center">
      <p class="text-sm text-gray-600">
        Zaten hesabınız var mı?
        <a href="/login" class="text-info hover:underline">
          <i class="bi bi-box-arrow-in-right"></i> Giriş Yap
        </a>
      </p>
    </div>
  </div>
</div>
