<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container">
    <a href="#" class="navbar-brand">Teknolojim.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarToggler">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a routerLink="/Telefon" class="nav-link active">Telefon</a></li>
        <li class="nav-item"><a routerLink="/Tablet" class="nav-link active">Tablet</a></li>
        <li class="nav-item"><a routerLink="/Akıllı Saat" class="nav-link active">Akıllı Saat</a></li>
        <li class="nav-item"><a routerLink="/Dizüstü Bilgisayar" class="nav-link active">Dizüstü Bilgisayar</a></li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a routerLink="/admin" class="nav-link">Admin Giriş</a></li>
      </ul>
      <div class="navbar-nav ms-auto d-flex flex-column align-items-center">
        <a routerLink routerLink="#">
          <i class="bi bi-person mt-1" style="font-size: 22px; color: #ffffff;"></i>
        </a>
        <a routerLink routerLink="#" class="text-white small">Giriş Yap</a>
        <a routerLink routerLink="#" class="text-white small">Üye Ol</a>
      </div>
    </div>
  </div>
</nav>
