<nav class="bg-info text-white">
  <div class="container mx-auto flex justify-between items-center p-2">
    <a routerLink="/" class="text-2xl font-bold text-white">Teknolojim.com</a>

    <button id="menu-toggle" class="lg:hidden text-white focus:outline-none">
      <i class="bi bi-list text-3xl text-white"></i>
    </button>

    <div id="menu" class="hidden lg:flex flex-grow justify-between items-center">
      <ul class="flex space-x-4">
        <li><a routerLink="/Telefon" class="hover:underline text-white ">Telefon</a></li>
        <li><a routerLink="/Tablet" class="hover:underline text-white">Tablet</a></li>
        <li><a routerLink="/Akıllı Saat" class="hover:underline text-white">Akıllı Saat</a></li>
        <li><a routerLink="/Dizüstü Bilgisayar" class="hover:underline text-white">Dizüstü Bilgisayar</a></li>
      </ul>

      <div class="flex items-center space-x-4">
        <a routerLink="/admin" class="hover:underline text-white">Admin Giriş</a>

        <div class="flex items-center gap-4">
          <div class="flex flex-col items-center">
            <a routerLink="/auth">
              <i class="bi bi-person text-2xl text-white"></i>
            </a>
            <div class="text-sm">
              <a routerLink="/auth" class="hover:underline block text-white text-center">Giriş Yap</a>
              <a routerLink="/auth" class="hover:underline block text-white text-center">Üye Ol</a>
            </div>
          </div>

          <a routerLink="/sellerAuth">
            <button class="btn btn-outline-light d-flex align-items-center gap-2 float-right">
              <i class="bi bi-shop"></i>
              <span>Satıcı Ol</span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
