<form (ngSubmit)="addProduct(name.value, price.value, categoryId.value, imageUrl.value, stock.value)">
  <div class="form-group">
    <label for="name">Ürün Adı</label>
    <input #name type="text" class="form-control" id="name" required>
  </div>
  <div class="form-group">
    <label for="price">Fiyat</label>
    <input #price type="text" class="form-control" id="price" required>
  </div>
  <div class="form-group">
    <label for="categoryId">Kategori ID</label>
    <input #categoryId type="text" class="form-control" id="categoryId" required>
  </div>
  <div class="form-group">
    <label for="imageUrl">Görsel URL</label>
    <input #imageUrl type="text" class="form-control" id="imageUrl" required>
  </div>
  <div class="form-group">
    <label for="stock">Stok</label>
    <input #stock type="text" class="form-control" id="stock" required>
  </div>
  <button type="submit" class="btn btn-primary">Ürün Ekle</button>
</form>
